@tailwind base;
@tailwind components;
@tailwind utilities;



.bg-img {
  background-size: cover;
  height: 100%;
  background-position: center;
  width: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  bottom: 0;
}

.home-anchor {
  z-index: 99;
  bottom: 20%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 250px;
  width: 200px;
}

.img-holder {
  overflow: hidden;
  border-radius: 50%;
  margin-top: 8px;
  position: relative;
  max-height: 150px;
  max-width: 150px;
}

.img-tile {
  width: 100%;
  max-height: 225px;
  overflow: hidden;
}


.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 8px;
  background: #fff;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}

.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}

.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}

@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }

  50%,
  100% {
    top: 24px;
    height: 32px;
  }
}

.loader-wapper {
  background: rgba(2, 2, 2, 0.9);
  height: 100vh;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  position: fixed;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;

}